blockquote.easy_testimonial {
  background-image: none;
  margin: 10px 0 40px;
	min-height: 220px;
  position: relative;
}
blockquote.easy_testimonial div.testimonial_body {
  margin-right: 160px;
}
blockquote.easy_testimonial div.testimonial_body a.easy_testimonials_read_more_link {
  position: relative;
}
blockquote.easy_testimonial .wp-post-image {
  border-radius: 3px;
  box-shadow: -1px 1px 3px #333333;
  float: right;
  height: 150px;
  width: 150px;
}
blockquote.easy_testimonial p, blockquote.easy_testimonial .easy_t_ratings {
  color: #b90504;
  padding: 0 30px;
  padding-bottom: 0;
  position: relative;
  width: auto !important;
}
.testimonial_body > p {
  padding-bottom: 0 !important;
}
.testimonial_body > p:first-child:before,.testimonial_body > p:first-of-type:before {
	color: #990100;
    content: "“";
    font-size: 50px;
    left: 0;
    line-height: 0;
    margin-left: -26px;
    margin-right: 5px;
    position: relative;
    top: 17px;
}
.testimonial_body > p:last-child:after, .testimonial_body > p:last-of-type:after {
	top: 21px;
	color: #990100;
    content: "”";
    font-size: 50px;
    line-height: 0;
    position: relative;
    right: -4px;
}
blockquote.easy_testimonial p.testimonial_author {
  color: #990100;
  font-size: 12px !important;
  padding: 0;
  position: absolute;
  top: 160px;
  right: 0;
  width: 150px !important;
}
.cycle-slide {
  width: 100%;
}


/* Cycle */
.cycle-slideshow {
    overflow: hidden;
    padding-bottom: 40px;
}

/* pager */
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 0px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}