blockquote.easy_testimonial {
  background-image: none;
  margin: 10px 0 40px;
  min-height: 120px;
  position: relative;
}
blockquote.easy_testimonial div.testimonial_body {
  margin-right: 60px;
}
blockquote.easy_testimonial div.testimonial_body a.easy_testimonials_read_more_link {
  position: relative;
}
blockquote.easy_testimonial .wp-post-image {
  border-radius: 3px;
  box-shadow: -1px 1px 3px #2e221f;
  float: right;
  height: 50px;
  width: 50px;
}
blockquote.easy_testimonial p {
  color: #58351a;
  padding: 0 30px;
  padding-bottom: 0;
  position: relative;
  width: auto !important;
}
.testimonial_body > p {
  padding-bottom: 0 !important;
}
.testimonial_body > p:first-child:before {
	color: #f7edbf;
    content: "“";
    font-size: 50px;
    left: 0;
    line-height: 0;
    margin-left: -26px;
    margin-right: 5px;
    position: relative;
    top: 17px;
}
.testimonial_body > p:last-child:after {
	color: #f7edbf;
	top: 21px;
    content: "”";
    font-size: 50px;
    line-height: 0;
    position: relative;
    right: -4px;
}
blockquote.easy_testimonial p.testimonial_author {
  color: #2e221f;
  font-size: 12px !important;
  padding: 0;
  position: absolute;
  top: 60px;
  right: 0;
  width: 50px !important;
}
.cycle-slide {
  width: 100%;
}


blockquote.easy_testimonial cite {
    font-size: 10px;
}

/* Cycle */
.cycle-slideshow {
    overflow: hidden;
    padding-bottom: 40px;
}

/* pager */
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 0px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}